MAIN_OSG_HOST_PORT=4088
MAIN_OSG_ADMIN_HOST_PORT=4091
OSG_TEST_HOST_PORT=4188
OSG_TEST_ADMIN_HOST_PORT=4191
OPENCODE_TEST_A_HOST_PORT=9202
OPENCODE_TEST_B_HOST_PORT=9203

LAB_NPM_REGISTRY=https://registry.npmjs.org/
LAB_BUN_REGISTRY=https://registry.npmjs.org/
